@model CMS.Web.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-chat-1 text-primary"></i>
            </span>
            <h3 class="card-label">
                Edit Post
                <small> Manege Post</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Publish At</label>
                        <input asp-for="PublishAt" class="form-control" />
                        <span asp-validation-for="PublishAt" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Post Category</label>
                        <select data-live-search="true" asp-for="PostCategoryId" class="form-control selectpicker" asp-items="ViewBag.postCategory"></select>
                        <span asp-validation-for="PostCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Body" class="control-label"></label>
                        <textarea id="summernote" asp-for="Body" class="form-control"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input type="file" name="imgFile" asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AttachmentUrl" class="control-label"></label>
                        <input type="file" name="attachmentFile" asp-for="AttachmentUrl" class="form-control" />
                        <span asp-validation-for="AttachmentUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
